.burger {
  position: relative;
  width: 40px;
  height: 26px;
  background: transparent;
  border: none;
  cursor: pointer;

  &:focus-visible {
    border-radius: 3px;
    outline: 2px solid var(--color-light-green);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: var(--color-light-blue);
  }

  &::before {
    top: 0;
    box-shadow: 0 11px 0 var(--color-light-blue);
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }

  &::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }

  &.isActive::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgb(0 0 0 / 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }

  &.isActive::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }
}
