<header class="header">
	<a href="<%- props.link %>" class="header__logo">
		<img
			src="<%- props.image %>"
			alt="Logo"
			width="48"
			height="48"
			loading='lazy'
		/>
	</a>
	<button type="button" class="burger" data-js-sidebar-burger-btn></button>
</header>