html {
  box-sizing: border-box;
  overflow-x: hidden;

  &.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    top: var(--st);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

body {
  font-family: var(--font-main);
}

.container {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
}

.flowContainer {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  max-width: 100%;
  min-height: inherit;
  position: relative;
  width: 100%;
}
