@import url("../../css/custom-media.css");

.sidebar-menu {
  --sidebar-border-radius: 25px;

  position: fixed;
  top: calc(var(--top-indention) + 52px);
  right: calc(-1 * var(--sidebar-width));
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: var(--sidebar-width);
  height: 100%;
  max-height: calc(100dvh - 88px);
  padding: 35px 0 25px 25px;
  background-color: var(--color-dark-blue);
  border-radius: var(--sidebar-border-radius) 0 0 0;
  overflow-y: auto;
  transition: right 0.3s;

  &__nav,
  &__social {
    max-width: calc(var(--sidebar-width) - 45px);
  }

  &__social {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  &.isActive {
    right: 0;
  }

  @media (--mobile-xs) {
    --sidebar-width: 100vw;
    --sidebar-border-radius: 0;
  }

  &__item {
    font-size: 28px;
    font-weight: 600;
    line-height: 0.89;
    letter-spacing: 1px;
    color: var(--color-white);

    &--social {
      font-size: 20px;
    }

    &:hover {
      color: var(--color-light-green);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 25px;
  }
}
